@model MovieRental.Areas.Admin.Models.BulkLoadOutput
@using MovieRental.Models

@{
    ViewBag.Title = "BulkOutput";
}

<h2>Information Retrieved From Open Movie Database</h2>

@if (Model.UnresolveTitles.Count > 0)
{
    <h3>Unable to find a match for the following:</h3>
    foreach (String item in Model.UnresolveTitles)
    {
        <li>@item</li>
    }
}

<div>
    <h3>Match Found For The Following Movies</h3>
    @foreach (var m in Model.ResolvedMovie)
    {
        <p>@m.Title</p>
    }
</div>

<div style="float:left">
    <p>
        Do You want to add all these movie?
    </p>
    <p>
        @using(Html.BeginForm("Save", "BulkLoad"))
        {
            <input style="color:green, font-weight:bold" type="submit" name="Save" value="Yes" />
            <input style="color:red, font-weight:bold" type="submit" name="Save" value="No" />
        }
    </p>
</div>
